# Titanic Dataset Exploration

In this notebook we will explore Titanic dataset, inorder to complete the Kaggle competion [link](https://www.kaggle.com/c/titanic)

**Goal**
* Our job is to predict if a passenger survived the sinking of the Titanic or not. For each PassengerId in the test set, we must predict a 0 or 1 value for the Survived variable.

**Metric**
* The score is the percentage of passengers we correctly predict. This is known simply as "accuracy‚Äù.

# Step 1 - Load the data as pandas dataframe

In [52]:
import pandas as pd
import numpy as np
# Load train and test data into pandas dataframe
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')
combine_data = [train_data, test_data]

In [5]:
# print the shape of the train and test data
print("Shape of train data: rows - %d, columns - %d"%(train_data.shape[0], train_data.shape[1]))
print("Shape of test data: rows - %d, columns - %d"%(test_data.shape[0], test_data.shape[1]))

Shape of train data: rows - 891, columns - 12
Shape of test data: rows - 418, columns - 11

# Step 2 - Analyzing the dataset

### Features in train dataset

In [26]:
for feature, data_type in zip(train_data, train_data.dtypes):
    print("%-15s -  %s"%(feature, data_type))

PassengerId     -  int64
Survived        -  int64
Pclass          -  int64
Name            -  object
Sex             -  object
Age             -  float64
SibSp           -  int64
Parch           -  int64
Ticket          -  object
Fare            -  float64
Cabin           -  object
Embarked        -  object

### Features in test dataset

In [54]:
for feature, data_type in zip(test_data, test_data.dtypes):
    print("%-15s -  %s"%(feature, data_type))

PassengerId     -  int64
Pclass          -  int64
Name            -  object
Sex             -  object
Age             -  float64
SibSp           -  int64
Parch           -  int64
Ticket          -  object
Fare            -  float64
Cabin           -  object
Embarked        -  object

In [17]:
#sample data in train_data dataframe
from IPython.display import display
display(train_data.head(5))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [51]:
#sample data in train_data dataframe
from IPython.display import display
display(test_data.head(5))

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [49]:
# total number of people survives in train_data
survived_train = train_data[train_data['Survived'] == 1].shape[0]
print("Number of people survived in train_data - %d"%survived_train)

Number of people survived in train_data - 342